version: 2
updates:
  # Enable updates for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/" # GitHub Actions are configured in the .github/workflows directory
    schedule:
      interval: "daily" # How often to check for updates

  # Enable updates for NuGet
  - package-ecosystem: "nuget"
    directory: "/src" # Location of the project files
    schedule:
      interval: "daily" # How often to check for updates
    groups:
      dotnet-patch:
        update-types:
          - "patch"
